<section id="page-header">
    <h2>#stayhome</h2>
    <p>Save more with coupons & up to 70% off!</p>
</section>
<div class="offcanvas offcanvas-top" id="demo">
    <div class="offcanvas-body">
        <div class="text-center">
            <a href="" class="menu-link text-dark text-decoration-none me-5" ng-repeat="item in dsDanhMuc"
                ng-click="onclickDanhMuc(item.idDanhMuc)">{{item.tenDanhMuc}}</a>
        </div>
    </div>
</div>

<div class="container-fluid mt-3">
    <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
        <i class="fa-solid fa-filter"></i> Lọc sản phẩm
    </button>
</div>
<section id="product1" class="section-p1">
    <div class="prod-cont">
        <div class="prod" ng-repeat="item in dsSanPham">
            <a href="#!san_pham_ct/{{item.idSanPham}}" class="text-decoration-none text-dark">
                <img ng-src="{{item.urlAnh}}" alt="">
                <div class="des">
                    <b>{{item.tenSanPham}}</b>
                    <h5>{{item.moTa}}</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>{{ item.giaBan/1 | currency: '$': 0 }}</span> VND</h4>
                </div>
                <a href="#!san_pham_ct/{{item.idSanPham}}"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </a>
        </div>
    </div>
</section>

<section id="pagination" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
</section>