<!-- Begin Page Content -->
<main class="content">
    <div class="section active">
        <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="page-title">Chi Tiết Hóa Đơn</h1>
        </div>
        <div class="rounded ">
            <div class="d-flex justify-content-between">
                <a href="#!don_hang">
                    <button class="btn btn-secondary">
                        <i class="fa-light fa-rotate-right"></i> Trở lại
                    </button>
                </a>
            </div>
        </div>
        <!-- Thanh trạng thái -->
        <div class="card p-4">
            <!-- Header -->
            <div class="mb-4">
                <h5 class="fw-bold text-primary">Danh sách hóa đơn / Mã hóa đơn: {{hoaDon.maHoaDon}}</h5>
            </div>

            <!-- Timeline -->
            <div class="d-flex justify-content-around align-items-center mb-4 timeline">
                <!-- Bước 1: Chờ xác nhận -->
                <div class="step text-center">
                    <div>
                        <div class="step-icon bg-info text-white">
                            <i class="fa-regular fa-pen-to-square fa-2x"></i>
                        </div>
                        <p class="mb-1 fw-bold">Chờ xác nhận</p>
                        <small class="text-muted">Chờ xác nhận</small> <br>
                        <small class="text-muted">{{hoaDon.ngayTao | date:'dd/MM/yyyy hh:mm:ss a'}}</small>
                    </div>
                </div>

                <!-- Dấu mũi tên -->
                <i class="fa-solid fa-arrow-right fa-2x text-muted" style="margin-top: -86px;"></i>

                <!-- Bước 2: Chờ giao hàng -->
                <div class="step text-center">
                    <div class="step-icon bg-secondary text-white">
                        <i class="fa-solid fa-truck-field fa-2x"></i>
                    </div>
                    <p class="mb-1 fw-bold">Chờ giao hàng</p>
                    <small class="text-muted">Đã giao hàng thành công</small> <br>
                    <small class="text-muted">18:14:48 21/12/2023</small>
                </div>

                <!-- Dấu mũi tên -->
                <i class="fa-solid fa-arrow-right fa-2x text-muted" style="margin-top: -86px;"></i>

                <!-- Bước 3: Đang giao hàng -->
                <div class="step text-center">
                    <div class="step-icon bg-success text-white">
                        <i class="fa-solid fa-truck-fast fa-2x"></i>
                    </div>
                    <p class="mb-1 fw-bold">Đang giao hàng</p>
                    <small class="text-muted">Đã bàn giao với bộ phận vận chuyển</small> <br>
                    <small class="text-muted">18:15:40 21/12/2023</small>
                </div>

                <!-- Dấu mũi tên -->
                <i class="fa-solid fa-arrow-right fa-2x text-muted" style="margin-top: -86px;"></i>

                <!-- Bước 4: Xác nhận thanh toán -->
                <div class="step text-center">
                    <div class="step-icon bg-primary text-white">
                        <i class="fa-regular fa-credit-card fa-2x"></i>
                    </div>
                    <p class="mb-1 fw-bold">Xác nhận thanh toán</p>
                    <small class="text-muted">Đã thanh toán đủ tiền</small> <br>
                    <small class="text-muted">18:15:57 21/12/2023</small>
                </div>

                <!-- Dấu mũi tên -->
                <i class="fa-solid fa-arrow-right fa-2x text-muted" style="margin-top: -86px;"></i>

                <!-- Bước 5: Hoàn thành -->
                <div class="step text-center">
                    <div class="step-icon bg-success text-white">
                        <i class="fa-regular fa-circle-check fa-2x"></i>
                    </div>
                    <p class="mb-1 fw-bold">Hoàn thành</p>
                    <small class="text-muted">Đơn hàng đã được giao thành công</small> <br>
                    <small class="text-muted">18:15:57 21/12/2023</small>
                </div>

                <!-- Dấu mũi tên -->
                <i class="fa-solid fa-arrow-right fa-2x text-muted" style="margin-top: -86px;"></i>

                <!-- Bước 6: Đã hủy -->
                <div class="step text-center">
                    <div class="step-icon bg-danger text-white">
                        <i class="fa-solid fa-xmark fa-2x"></i>
                    </div>
                    <p class="mb-1 fw-bold">Đã hủy</p>
                    <small class="text-muted">Đơn hàng đã bị hủy</small> <br>
                    <small class="text-muted">18:15:57 21/12/2023</small>
                </div>
            </div>

        </div>

        <!-- Progress Bar -->
        <div class="progress mt-4">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 75%;" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <!-- Action Buttons -->
        <div class="d-flex justify-content-between mt-4">
            <button class="btn btn-danger">Hủy</button>
            <button class="btn btn-primary">Chi tiết</button>
        </div>

        <div class="my-2 p-4 border rounded shadow-lg">
            <div class="d-flex">
                <div class="p-2 flex-fill">
                    <!-- Thông tin hóa đơn -->
                    <section class="invoice-info mb-4">
                        <h3 class="h5 pb-3 text-black" style="font-weight: bold;">Thông tin hóa đơn</h3>
                        <ul class="list-unstyled">
                            <li><strong>Mã hóa đơn:</strong> {{hoaDon.maHoaDon}}</li>
                            <li><strong>Ngày tạo:</strong> {{hoaDon.ngayTao | date:'dd/MM/yyyy'}}</li>
                            <li><strong>Trạng thái:</strong> {{hoaDon.trangThaiHoaDon}}</li>
                            <li><strong>Phương thức thanh toán:</strong> {{hoaDon.tenPhuongThucThanhToan}}</li>
                        </ul>
                    </section>
                </div>
                <div class="p-2 flex-fill">
                    <!-- Thông tin khách hàng -->
                    <section class="customer-info mb-4">
                        <h3 class="h5 pb-3 text-black" style="font-weight: bold;">Thông tin khách hàng</h3>
                        <ul class="list-unstyled">
                            <li><strong>Tên khách hàng:</strong> {{hoaDon.tenNguoiNhan}}</li>
                            <li><strong>Email:</strong> {{hoaDon.emailNguoiNhan}}</li>
                            <li><strong>Số điện thoại:</strong> {{hoaDon.sdtNguoiNhan}}</li>
                            <li><strong>Địa chỉ:</strong> {{hoaDon.diaChi}}</li>
                        </ul>
                    </section>
                </div>
                <div class="p-2 flex-fill">
                    <!-- Thông tin khuyến mãi -->
                    <section class="discount-info mb-4">
                        <h3 class="h5 pb-3 text-black" style="font-weight: bold;">Khuyến mãi</h3>
                        <ul class="list-unstyled">
                            <li><strong>Đợt giảm giá:</strong> {{discount_period}}</li>
                            <li><strong>Mã voucher:</strong> {{voucher_code}}</li>
                            <li>
                                <strong>Tổng giảm
                                    giá:</strong> {{total_discount}}
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <!-- Chi tiết sản phẩm -->
            <section class="product-details mb-4">
                <h3 class="h5 pb-2 text-black" style="font-weight: bold;">Chi tiết sản phẩm</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="table-light">
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Giá bán</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{product.name}}</td>
                                <td>{{product.price}}</td>
                                <td>{{product.quantity}}</td>
                                <td>{{product.total}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <div class="d-flex">
                <div class="p-2 flex-fill"></div>
                <div class="p-2 flex-fill"></div>
                <div class="p-2 flex-fill">
                    <!-- Tổng cộng -->
                    <section class="total mb-4">
                        <h3 class="h5  text-black" style="font-weight: bold;">Tổng cộng</h3>
                        <ul class="list-unstyled">
                            <li><strong>Tổng tiền trước giảm giá:</strong> {{subtotal}}</li>
                            <li><strong>Giảm giá:</strong> {{total_discount}}</li>
                            <li><strong>Phí vận chuyển:</strong> {{shipping_fee}}</li>
                            <li class="h4 mt-5">
                                <strong>Tổng thanh toán:</strong>
                                {{hoaDon.thanhTien/1 | currency: '': 0}} VND
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>


<style>
    
</style>