<!-- Begin Page Content -->
<main class="content">
    <div class="section active">
        <div class="container-fluid">
            <!-- Thuộc tính sản phẩm -->
            <div class="mb-3">
                <h1 class="page-title">Thêm sản phẩm mới</h1>
                <div class="border border-3 rounded p-3">
                    <div class="d-flex justify-content-between">
                        <a href="#!san_pham">
                            <button class="btn btn-secondary">
                                <i class="fa-light fa-rotate-right"></i> Trở lại
                            </button>
                        </a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#addProductModal">
                            <i class="fa-light fa-plus"></i> Thêm sản phẩm mới
                        </button>
                    </div>
                </div>
                <h3 class="mb-4 mt-3">Thuộc tính sản phẩm</h3>
                <div class="border border-3 rounded p-3 mt-3">
                    <label for="selectProduct" class="form-label">Chọn sản phẩm</label>
                    <select class="form-select" required ng-model="productData.idSanPham">
                        <option value="">Chọn sản phẩm...</option>
                        <option ng-repeat="item in dsSanPham track by $index" value="{{item.idSanPham}}">
                            {{item.tenSanPham}}
                        </option>
                    </select>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="material" class="form-label">Chất liệu</label>
                            <div class="d-flex align-items-center">
                                <input type="text" id="material" class="form-control me-2" readonly
                                    ng-model="materialDisplay" placeholder="Chọn chất liệu">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#materialModal">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="col mb-3">
                            <label for="color" class="form-label">Màu sắc</label>
                            <div class="d-flex align-items-center">
                                <input type="text" id="color" class="form-control me-2" readonly ng-model="colorDisplay"
                                    placeholder="Chọn màu sắc">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#colorModal">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="col mb-3">
                            <label for="size" class="form-label">Kích thước</label>
                            <div class="d-flex align-items-center">
                                <input type="text" id="size" class="form-control me-2" readonly ng-model="sizeDisplay"
                                    placeholder="Chọn kích thước">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#sizeModal">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </div>
                        </div>

                        <button type="button" class="btn btn-danger" ng-click="saveProduct()">
                            <i class="fa-light fa-plus"></i> Thêm thuộc tính
                        </button>
                    </div>

                </div>
            </div>
            <div class="border border-3 rounded p-3 mb-5">
                <label for="selectProduct" class="form-label">Chọn sản phẩm</label>
                <select class="form-select" required ng-model="productData.idSanPham">
                    <option value="">Chọn sản phẩm...</option>
                    <option ng-repeat="item in dsSanPham track by $index" value="{{item.idSanPham}}">
                        {{item.tenSanPham}}
                    </option>
                </select>
                <h3 class="mb-4 mt-3">Danh sách các sản phẩm cùng loại</h3>
                <div id="show-product">
                    <div class="card shadow mb-4 mt-3">
                        <div class="card-body">
                            <div class="table-responsive text-center">
                                <h4 class="mb-4 mt-3">Sản phẩm phù hợp</h4>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Tên sản phẩm</th>
                                            <th scope="col">Số lượng</th>
                                            <th scope="col">Đơn giá</th>
                                            <th scope="col">Trạng thái</th>
                                            <th scope="col">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in filteredProducts">
                                            <th scope="row">{{$index + 1}}</th>
                                            <td>{{item.tenSanPham}}</td>
                                            <td><input type="number" class="form-control" value="10"></td>
                                            <td><input type="text" class="form-control" value="100,000"></td>
                                            <td>
                                                <input type="checkbox" ng-model="item.trangThai"
                                                    ng-change="updateTrangThai(item)" id="user-status-{{$index}}"
                                                    class="switch-input">
                                                <label for="user-status-{{$index}}" class="switch"></label>
                                            </td>
                                            <td>
                                                <a href="#!san_pham" class="btn btn-warning btn-sm"
                                                    ng-click="chinhSuaSanPham(item)"><i class="fas fa-edit"></i></a>
                                                <a href="#!san_pham" class="btn btn-danger btn-sm"
                                                    ng-click="xoaSanPham(item.idSanPham)"><i
                                                        class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Modal Thêm Sản phẩm -->
<div class="modalsiu fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 83px;">
            <h3 id="addProductModalLabel" class="modal-title text-center mt-3 ">Thêm sản phẩm mới</h3>
            <hr>
            <div class="modal-header">
                <button class="modal-close product-form" data-dismiss="modal" ng-click="resetModal()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
                <form action="" class="add-product-form">
                    <div class="modal-content-left">
                        <img src="./assets/img/blank-image.png" alt="" class="upload-image-preview">
                        <div class="form-group file">
                            <label style="margin-top: 67px;" for="up-hinh-anh" class="form-label-file"><i
                                    class="fa-solid fa-cloud-arrow-up"></i>Chọn hình
                                ảnh</label>
                            <input accept="image/jpeg, image/png, image/jpg" id="up-hinh-anh" name="up-hinh-anh"
                                type="file" class="form-control">
                        </div>
                    </div>
                    <div class="modal-content-right">
                        <div class="mb-3">
                            <select id="selectCategory" class="form-select" required ng-model="SanPham.idDanhMuc">
                                <option value="">Chọn danh mục...</option>
                                <option ng-repeat="item in dsDanhMuc track by $index" value="{{item.idDanhMuc}}">
                                    {{item.tenDanhMuc}}
                                </option>
                            </select>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="tenSanPham" ng-model="SanPham.tenSanPham"
                                placeholder="Nhập tên sản phẩm" name="tenSanPham" required>
                            <label for="tenSanPham">Tên sản phẩm</label>
                        </div>
                        <div class="form-group">
                            <label for="mo-ta" class="form-label">Mô tả</label>
                            <textarea class="product-desc" id="mo-ta" placeholder="Nhập mô tả món ăn..."></textarea>
                            <span class="form-message"></span>
                        </div>
                        <div class="modal-footer">
                            <button class="form-submit btn-update-product-form edit-product-e"
                                style="padding-top: 7px;margin-right: 63px;" id="update-product-button"
                                ng-click="onCreate()">
                                <i class="fa-light fa-pencil"></i>
                                <span>Thêm sản phẩm</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




















<!--Modal Chất liệu -->
<div class="modal fade" id="materialModal" tabindex="-1" aria-labelledby="materialModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="materialModalLabel">Chọn chất liệu</h5>
                <button class="modal-close product-form" data-dismiss="modal" ng-click="resetModal()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="chatLieu in dsChatLieu track by $index">
                        <input type="checkbox" ng-model="chatLieu.selected" ng-change="updateMaterial(chatLieu)" />
                        {{chatLieu.tenChatLieu}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal Màu sắc -->
<div class="modal fade" id="colorModal" tabindex="-1" aria-labelledby="colorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="colorModalLabel">Chọn Màu Sắc</h5>
                <button class="modal-close product-form" data-dismiss="modal" ng-click="resetModal()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <h6>Màu Sắc</h6>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="mauSac in dsMauSac track by $index">
                        <input type="checkbox" ng-model="mauSac.selected" ng-change="updateColor(mauSac)" />
                        {{mauSac.tenMauSac}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal Kích thước -->
<div class="modal fade" id="sizeModal" tabindex="-1" aria-labelledby="sizeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sizeModalLabel">Chọn Kích Thước</h5>
                <button class="modal-close product-form" data-dismiss="modal" ng-click="resetModal()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <h6>Kích Cỡ</h6>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="kichThuoc in dsKichThuoc track by $index">
                        <input type="checkbox" ng-model="kichThuoc.selected" ng-change="updateSize(kichThuoc)" />
                        {{kichThuoc.tenKichThuoc}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>