<header id="header">
    <a href="#"><img src="/view-client/assets/img/logo.png" class="logo" alt=""></a>
    <ul id="navbar">
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#!san_pham">Shop</a></li>
        <li><a href="#!blog">Blog</a></li>
        <li><a href="#!about">About</a></li>
        <li><a href="#!contact">Contact</a></li>
        <li><a href="#!gio_hang"><i class="fa-solid fa-bag-shopping"></i></a></li>
        <li><a href="#!user"><i class="fa-solid fa-user"></i></a></li>
    </ul>
</header>