<header id="header">
    <a href="#"><img src="/view-client/assets/img/logo.png" class="logo" alt=""></a>
    <ul id="navbar">
        <li><a class="active" href="#!/">Home</a></li>
        <li><a href="#!san_pham">Shop</a></li>
        <li><a href="#!blog">Blog</a></li>
        <li><a href="#!about">About</a></li>
        <li><a href="#!contact">Contact</a></li>
        <li><a href="#!gio_hang"><i class="fa-solid fa-bag-shopping"></i></a></li>

        <!-- Hiển thị tên người dùng nếu đã đăng nhập -->
        <li ng-if="infoUser">
            <div class="dropdown">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                    Xin chào, {{ tenNguoiDung }}!
                </button>
                <ul class="dropdown-menu">
                    <!-- Hiển thị "Trang quản lý" nếu vai trò là Quản trị viên (idVaiTro = 1) -->
                    <li ng-if="isAdmin"><a class="dropdown-item" href="http://127.0.0.1:5500/admin.html#!/">Trang quản
                            lý</a></li>
                    <li><a class="dropdown-item" href="#!thong_tin_nguoi_dung">Trang cá nhân</a></li>
                    <!-- Sửa nút Đăng xuất -->
                    <li><a class="dropdown-item" ng-click="dangXuat()">Đăng xuất</a></li>
                </ul>
            </div>
        </li>
        <!-- Hiển thị nút Login nếu chưa đăng nhập -->
        <li ng-if="!infoUser"><a href="#!user"><i class="fa-solid fa-user"></i></a></li>
    </ul>
</header>