<header id="header">
    <a href="#"><img src="./assets/img/logo.png" class="logo" alt=""></a>
    <ul id="navbar">
        <li><a href="index.html">Home</a></li>
        <li><a href="shop.html">Shop</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
        <li><a class="active" href="user.html"><i class="fa-solid fa-user"></i></a></li>
    </ul>
</header>
<section id="wrapper">
    <div class="form-box register">
        <form action="">
            <h1>Registration</h1>
            <div class="input-box">
                <input type="text" placeholder="Username" required>
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="input-box">
                <input type="email" placeholder="Email" required>
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" required>
                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">I agree to the terms & conditions</label>
                <!-- <a href="#">Forgot Password</a> -->
            </div>
            <button type="submit" class="normal">Register</button>
            <div class="register-link">
                <p>Already have an Account? <a href="user.html">Login</a></p>
            </div>
        </form>
    </div>
</section>