<div class="container">
    <section class="py-5">
        <h5 class="fw-bold mb-5" style="color: #47357B;">
            <a href="#!san_pham" class="text-decoration-none"><i class="fas fa-angle-left me-2"></i>Back to shopping</a>
        </h5>

        <div class="container my-5">
            <div class="row gx-4 gx-lg-5 align-items-start">
                <div class="col-md-1" style="padding-left: 0px; padding-right: 0px;">
                    <div class="align-items-start mb-2">
                        <div class="mb-3" ng-repeat="anh in anhSanPham track by $index">
                            <img class="d-block w-100" ng-src="{{anh.urlAnh}}" alt="Ảnh sản phẩm"
                                style="cursor:pointer;" ng-click="showProductDetail($index)">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item mySlides" ng-repeat="anh in anhSanPham track by $index"
                                ng-class="{'active': $index === 0}">
                                <img class="d-block w-100" ng-src="{{anh.urlAnh}}" alt="Ảnh sản phẩm" />
                            </div>
                        </div>

                        <!-- Dots -->
                        <div class="dots">
                            <span class="demo" ng-repeat="anh in anhSanPham track by $index"
                                ng-click="currentDiv($index + 1)"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 d-flex flex-column" 
                    ng-repeat="sanPhamChiTiet in sanPhamChiTiet track by $index">
                    <h1 class="display-5 fw-bolder">{{sanPhamChiTiet.tenSanPham}}</h1>
                    <div class="star" style="color: rgb(223, 223, 66);">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="fs-5 d-flex justify-content-between mt-4">
                        <h3><span>{{ sanPhamChiTiet.giaBan/1 | currency: '': 0 }}</span> VND</h3>
                        <span>Còn hàng</span>
                    </div>
                    <hr>
                    <div class="product-details">
                        <div>
                            <p><strong>Mã sản phẩm:</strong> {{sanPhamChiTiet.maSanPham}}</p>
                            <!-- Chọn chất liệu -->
                            <p><strong>Chất liệu:</strong>
                            <div class="swatch-attribute material">
                                <div class="swatch-attribute-options clearfix">
                                    <div class="swatch-option" ng-repeat="chatLieu in chatLieuChiTiet track by $index"
                                        ng-click="chonChatLieu(chatLieu)"
                                        ng-class="{'selected': selectedMaterial === chatLieu.idChatLieu}">
                                        {{chatLieu.tenChatLieu}}
                                    </div>
                                </div>
                            </div>
                            </p>
                            <!-- Chọn màu sắc -->
                            <p><strong>Màu sắc:</strong>
                            <div class="swatch-attribute color">
                                <div class="swatch-attribute-options clearfix">
                                    <div class="swatch-option" ng-repeat="mauSac in mauSacChiTiet track by $index"
                                        ng-click="chonMauSac(mauSac)"
                                        ng-class="{'selected': selectedColor === mauSac.idMauSac}">
                                        {{mauSac.tenMauSac}}
                                    </div>
                                </div>
                            </div>
                            </p>
                            <!-- Chọn kích thước -->
                            <p><strong>Kích thước:</strong>
                            <div class="swatch-attribute size">
                                <div class="swatch-attribute-options clearfix">
                                    <div class="swatch-option" ng-repeat="kichThuoc in kichThuocChiTiet track by $index"
                                        ng-click="chonKichThuoc(kichThuoc)"
                                        ng-class="{'selected': selectedSize === kichThuoc.idKichThuoc}">
                                        {{kichThuoc.tenKichThuoc}}
                                    </div>
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>
                    <!-- Buttons for adding to cart and checkout -->
                    <!-- Add to Cart and Buy Now buttons -->
                    <div class="d-flex flex-column">
                        <div class="d-flex mb-2">
                            <!-- Add to Favorite Button -->
                            <div class="flex-grow-1 me-2">
                                <a href="#" class="text-decoration-none">
                                    <button class="btn btn-danger w-100" style="font-size: 18px;">
                                        <i class="fa-solid fa-heart" style="font-size: 24px;"></i> Sản phẩm yêu thích
                                    </button>
                                </a>
                            </div>
                            <!-- Add to Cart Button -->
                            <div class="flex-grow-1">
                                <a href="#!gio_hang" class="text-decoration-none">
                                    <button class="btn btn-danger w-100" style="font-size: 18px;" ng-click="addToCart(sanPhamChiTiet)">
                                        <i class="fa-solid fa-bag-shopping" style="font-size: 24px;"></i> Giỏ hàng
                                    </button>
                                </a>
                            </div>
                        </div>
                        <!-- Buy Now Button -->
                        <div class="border border-3 rounded border-danger">
                            <a href="#!thanh_toan" class="text-decoration-none ">
                                <button class="btn btn-light text-danger w-100" style="font-size: 18px;">
                                    <i class="fa-solid fa-bolt" style="font-size: 24px;"></i> Mua ngay
                                </button>
                            </a>
                        </div>
                    </div>

                    <!-- Additional Information Icons -->
                    <div class="mt-4 d-flex justify-content-between text-center">
                        <div>
                            <i class="fa-solid fa-truck" style="font-size: 32px; color: red;"></i>
                            <p>Miễn phí giao hàng xem tại giỏ hàng</p>
                        </div>
                        <div>
                            <i class="fa-solid fa-repeat" style="font-size: 32px; color: red;"></i>
                            <p>1 đổi 1 trong vòng 7 ngày</p>
                        </div>
                        <div>
                            <i class="fa-solid fa-sack-dollar" style="font-size: 32px; color: red;"></i>
                            <p>Kiểm tra hàng trước khi thanh toán</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="productAccordion">
            <!-- Mô tả sản phẩm -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingDescription">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription">
                        Mô tả sản phẩm
                    </button>
                </h2>
                <div id="collapseDescription" class="accordion-collapse collapse show"
                    aria-labelledby="headingDescription" data-bs-parent="#productAccordion">
                    <div class="accordion-body">
                        <p ng-repeat="sanPhamChiTiet in sanPhamChiTiet track by $index">{{sanPhamChiTiet.moTa}}</p>
                    </div>
                </div>
            </div>

            <!-- Đánh giá từ khách hàng -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingReviews">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseReviews" aria-expanded="false" aria-controls="collapseReviews">
                        Đánh giá từ khách hàng
                    </button>
                </h2>
                <div id="collapseReviews" class="accordion-collapse collapse" aria-labelledby="headingReviews"
                    data-bs-parent="#productAccordion">
                    <div class="accordion-body">
                        <p>{{sanPhamChiTiet.danhGia}}</p> <!-- Sửa thành thuộc tính đúng nếu cần -->
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <section id="product1" class="section-p1">
            <h2>Sản phẩm liên quan</h2>
            <p>Summer Collection New Morden Design</p>
            <div class="prod-cont">
                <div class="prod">
                    <img src="/view-client/assets/img/products/n1.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="prod">
                    <img src="/view-client/assets/img/products/n2.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="prod">
                    <img src="/view-client/assets/img/products/n3.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="prod">
                    <img src="/view-client/assets/img/products/n4.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
            </div>
        </section>
    </section>
</div>