<section id="thank-you-section" class="thank-you-section">
    <div class="container my-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="card p-4">
                    <h2 class="text-center">Cảm ơn bạn đã đặt hàng!</h2>
                    <p class="text-center">
                        Chúng tôi đã nhận được đơn hàng của bạn và đang xử lý. Vui lòng kiểm tra email của bạn để nhận thông tin chi tiết về đơn hàng.
                    </p>

                    <h4 class="mt-4">Thông tin đơn hàng:</h4>
                    <ul>
                        <li><strong>Mã đơn hàng:</strong> #{{orderData.maHoaDon}}</li>
                        <li><strong>Phương thức thanh toán:</strong> {{orderData.tenPhuongThucThanhToan}}</li>
                    </ul>

                    <h4 class="mt-4">Chi tiết sản phẩm:</h4>
                    <div ng-repeat="item in orderDetails.listSanPhamChiTiet" class="d-flex align-items-center mb-3">
                        <img ng-src="{{item.urlAnh}}" alt="Hình ảnh sản phẩm" class="img-thumbnail me-2" style="width: 80px; height: 80px;" ng-if="item.urlAnh">
                        <div class="flex-grow-1">
                            <h6>{{item.tenSanPham}}</h6>
                            <p class="mb-1">Giá: {{item.giaTien | currency}}</p>
                            <p class="mb-1">Số lượng: {{item.soLuong}}</p>
                        </div>
                    </div>
                    <h4 class="mt-4">Tổng tiền:</h4>
                    <p><strong>Tổng sản phẩm:</strong> {{orderData.thanhTien | currency}}</p>
                    <!-- <p><strong>Phí giao hàng:</strong> {{orderData.phiShip | currency}}</p> -->
                    <p><strong>Phí giao hàng:</strong> Miễn Phí</p>
                    <h4 class="mt-4"><strong>Tổng thanh toán:</strong> {{(orderData.thanhTien + orderData.phiShip) | currency}}</h4>
                    <h4 class="mt-4">Thông tin nhận hàng:</h4>
                    <ul>
                        <li><strong>Tên người nhận:</strong> {{orderData.tenNguoiNhan}}</li>
                        <li><strong>Số điện thoại:</strong> {{orderData.sdtNguoiNhan}}</li>
                        <li><strong>Địa chỉ nhận hàng:</strong> {{orderData.diaChi}}, {{orderData.tinh}}, {{orderData.huyen}}, {{orderData.xa}}</li>
                        <li><strong>Ghi chú:</strong> {{orderData.ghiChu}}</li>
                    </ul>

                    <p class="mt-4 text-center text-muted">
                        Sau khi "Đặt hàng" thành công, Nimbus sẽ liên hệ xác nhận đơn hàng theo số Hotline 02836220632.
                    </p>

                    <div class="text-center mt-4">
                        <a href="/" class="btn btn-success">Quay lại trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
